*{
    font-family: Comic Sans MS;
}
body{
    background-color: #333333;
    color: #e0e0e0;
}
.center{
    text-align: center;
}
.fancy{
    color: red;
    text-decoration: underline;
}
.field{
    width: 40%;
    height: 500pt;
    margin: 20px;
    resize: none;
}
.button{
    width: 190px;
    font-size: 20px;
    margin-bottom: 10px;
}
.op_button{
    width: 92.5px;
}